
body{

    margin-left: 10px;
}

.vertical {

    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 3px;
    gap: 5px;
}

.horizontal {
    display:flex;
    flex-direction: row;
    padding: 3px;
    gap: 5px;
}

.botonera {

    margin: 2px;
}

table-bordered {
    border: 1px solid #585858;
  }
  .table-bordered td, .table-bordered th {
    border-left: 1px solid #585858;
  }
  .table-bordered td:first-child, .table-bordered th:first-child {
    border-left: 0;
  }

.table-nonfluid {
    width: 70% !important;
 }